.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout__left{
    margin-right: 5px;
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__ad{
    width:100%;
    margin-bottom: 10px;
    background-color:#00aaff;
    mask-image: linear-gradient(to bottom, rgba(166, 166, 166,1), rgba(166, 166, 166,0.5));
}